<form>
  <h1>Password edit</h1>
  <div class="p-float-label">
    <input id="old" type="password" pInputText>
    <label for="old">Old password</label>
  </div>
  <div class="p-float-label">
    <p-password id="new" inputStyleClass="style"></p-password>
    <label for="new">New password</label>
  </div>
  <div class="p-float-label">
    <input id="repeat" type="password" pInputText>
    <label for="repeat">New password</label>
  </div>
  <p>
    <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple type="button" icon="pi pi-check" label="Confirm"
            class=" p-button-rounded p-button-success"></button>
    <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
            class="p-button-rounded p-button-danger" routerLink="/welcome"></button>
  </p>
</form>
