button{
  margin-left: 35px;
  margin-right: 35px;
}
input{
  border-radius: 30px;
  padding-bottom: 15px;
  width: 100%;
}
label{
  padding-left: 10px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  color: #078d07;
}
div{
  margin-bottom: 25px;
}
form{
  margin-top: 230px;
  position: relative;
}
