<app-header></app-header>
<form #editPass="ngForm" novalidate>
  <h1>Password edit</h1>
  <div>
    <div class="p-float-label">
      <input id="old" #oldPass="ngModel" [(ngModel)]="oldPassword" name="oldPassword" pInputText
             [type]="showPassword ? 'text' : 'password'" required>
      <label for="old">Old password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showPassword = !showPassword"
         [class.hide]="showPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showPassword = !showPassword"
         [class.hide]="!showPassword">
      </i>
    </div>
    <div class="input-invalid" *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched)">
      <small *ngIf="oldPass.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input id="new" #newPass="ngModel" [(ngModel)]="newPassword" name="newPassword" pInputText
             [type]="showNewPassword ? 'text' : 'password'" required>
      <label for="new">New password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showNewPassword = !showNewPassword"
         [class.hide]="showNewPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showNewPassword= !showNewPassword"
         [class.hide]="!showNewPassword">
      </i>
    </div>
    <div class="input-invalid" *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)">
      <small *ngIf="newPass.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input id="repeat" #newPassRepeat="ngModel" [(ngModel)]="newPasswordRepeat" name="newPasswordRepeat" [type]="showNewPasswordRepeat ? 'text' : 'password'" pInputText required>
      <label for="repeat">New password repeat</label>
      <i class="pi pi-eye-slash icon"
         (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
         [class.hide]="showNewPasswordRepeat">
      </i>
      <i class="pi pi-eye icon"
         (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
         [class.hide]="!showNewPasswordRepeat">
      </i>
    </div>
    <div class="input-invalid" *ngIf="newPassRepeat.invalid && (newPassRepeat.dirty || newPassRepeat.touched)">
      <small *ngIf="newPassRepeat.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
  </div>
  <p>
    <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple type="button" icon="pi pi-check" label="Confirm"
            class=" p-button-rounded p-button-success"></button>
    <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
            class="p-button-rounded p-button-danger" routerLink="/welcome"></button>
  </p>
</form>
<app-footer></app-footer>
