<app-header></app-header>
<form #editPass="ngForm" (ngSubmit)="editPass.form.valid && onSubmit()" novalidate>
  <h1>Password edit</h1>
  <div>
    <div class="p-float-label">
      <input id="old" #passwordOld="ngModel" [(ngModel)]="form.passwordOld" name="passwordOld" pInputText
             [type]="showPassword ? 'text' : 'password'" required>
      <label for="old">Old password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showPassword = !showPassword"
         [class.hide]="showPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showPassword = !showPassword"
         [class.hide]="!showPassword">
      </i>
    </div>
    <div class="input-invalid"
         *ngIf="passwordOld.invalid && (passwordOld.dirty || passwordOld.touched)  || (passwordOld.errors && editPass.submitted)">
      <small *ngIf="passwordOld.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input id="new" #passwordNew="ngModel" [(ngModel)]="form.passwordNew" name="passwordNew" pInputText
             [type]="showNewPassword ? 'text' : 'password'" minlength="5" required>
      <label for="new">New password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showNewPassword = !showNewPassword"
         [class.hide]="showNewPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showNewPassword= !showNewPassword"
         [class.hide]="!showNewPassword">
      </i>
    </div>
    <div class="input-invalid"
         *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched) || (passwordNew.errors && editPass.submitted)">
      <small *ngIf="passwordNew.errors?.required" class="p-error error-text ">Password is required</small>
      <small *ngIf="passwordNew.errors?.minlength" class="p-error error-text">Password should be at least 5 symbols
        length</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input id="repeat" #passwordNewRep="ngModel" [(ngModel)]="form.passwordNewRep" name="password2"
             [type]="showNewPasswordRepeat ? 'text' : 'password'" pInputText required>
      <label for="repeat">New password repeat</label>
      <i class="pi pi-eye-slash icon"
         (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
         [class.hide]="showNewPasswordRepeat">
      </i>
      <i class="pi pi-eye icon"
         (click)="showNewPasswordRepeat = !showNewPasswordRepeat"
         [class.hide]="!showNewPasswordRepeat">
      </i>
    </div>
    <div class="input-invalid"
         *ngIf="passwordNewRep.invalid && (passwordNewRep.dirty || passwordNewRep.touched) || (passwordNewRep.errors && editPass.submitted)">
      <small *ngIf="passwordNewRep.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
    <div class="input-invalid" *ngIf="passwordNewRep.dirty && checkCoincide(passwordNewRep.value, passwordNew.value)">
      <small class="p-error error-text">Passwords doesn't coincide</small>
    </div>
  </div>
  <div>
    <note></note>
  </div>
  <p>
    <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple icon="pi pi-check" label="Confirm"
            class=" p-button-rounded p-button-success"></button>
    <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
            class="p-button-rounded p-button-danger" routerLink="/welcome"></button>
  </p>
</form>
<app-footer></app-footer>
