<app-header></app-header>
<form *ngIf="user" #addUserForm="ngForm" (ngSubmit)="addUserForm.valid && onSubmit(addUserForm)" novalidate>
  <h1>Add user</h1>
  <div>
    <div class="p-float-label">
      <input #name="ngModel" id="name" type="text" pInputText [(ngModel)]="user.name" name="name" required>
      <label for="name">
        Name
      </label>
    </div>
    <div class="input-invalid"
         *ngIf="name.invalid && (name.dirty || name.touched) || (name.errors && addUserForm.submitted)">
      <small *ngIf="name.errors?.['required']" class="p-error block error-text">Name is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #login="ngModel" id="login" type="text" pInputText [(ngModel)]="user.login" name="login" required
             minlength="6">
      <label for="login">Login</label>
    </div>
    <div class="input-invalid"
         *ngIf="login.invalid && (login.dirty || login.touched) || (login.errors && addUserForm.submitted)">
      <small *ngIf="login.errors?.required" class="p-error error-text ">Login is required</small>
      <small *ngIf="login.errors?.minlength" class="p-error error-text"> Name must be at least 6 characters
        long.</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #password="ngModel" id="password" pInputText pPassword [(ngModel)]="user.password"
             name="password" [type]="showPassword ? 'text' : 'password'" minlength="5" required>
      <label for="password">Password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showPassword = !showPassword"
         [class.hide]="showPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showPassword = !showPassword"
         [class.hide]="!showPassword">
      </i>
    </div>
    <div class="input-invalid"
         *ngIf="password.invalid && (password.dirty || password.touched) || (password.errors && addUserForm.submitted)">
      <small *ngIf="password.errors?.required" class="p-error error-text ">Password is required</small>
      <small *ngIf="password.errors?.minlength" class="p-error error-text">Password should be at least 5 symbols
        length</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #email="ngModel" id="email" type="text" pInputText [(ngModel)]="user.email" name="email" email="true"
             required>
      <label for="email">Email</label>
    </div>
    <div class="input-invalid"
         *ngIf="email.invalid && (email.dirty || email.touched) || (email.errors && addUserForm.submitted)">
      <small *ngIf="email.errors?.required" class="p-error error-text">Email is required</small>
      <small *ngIf="email.errors?.email" class="p-error error-text">Enter your email address</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <p-inputNumber #salary="ngModel" inputStyleClass="style" id="salary" mode="currency" currency="USD" locale="en-US"
                     [(ngModel)]="user.salary" name="salary" [required]="true"></p-inputNumber>
      <label for="salary">Salary</label>
    </div>
    <div class="input-invalid"
         *ngIf="salary.invalid && (salary.dirty || salary.touched) || (salary.errors && addUserForm.submitted)">
      <small *ngIf="salary.errors?.required" class="p-error error-text">Salary is required</small>
      <small *ngIf="salary.errors?.min" class="p-error error-text">Minimal salary is 1000</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <p-calendar #date="ngModel" [minDate]="minDate" [maxDate]="maxDate" inputStyleClass="style"
                  [style]="{'width':'100%'}"
                  id="dob" dateFormat="dd-mm-yy" inputId="dateformat" [(ngModel)]="user.dateOfBirth" name="date"
                  [required]="true"></p-calendar>
      <label for="dob">Date of birth</label>
    </div>
    <div class="input-invalid"
         *ngIf="date.invalid && (date.dirty || date.touched) || (date.errors && addUserForm.submitted)">
      <small *ngIf="date.errors?.required" class="p-error error-text ">Date is required</small>
    </div>
  </div>
  <div>
    <div>
      <label>Choose user roles: </label>
    </div>
    <div *ngFor="let role of allRoles" class="p-field-checkbox">
      <p-checkbox [required]="true"
                  value="role"
                  name="userRoles"
                  [value]="role"
                  [inputId]="role.name"
                  [(ngModel)]="user.roles"></p-checkbox>
      <label [for]="role.name">{{role.name}}</label>
    </div>
  </div>
  <button [ngStyle]="{backgroundColor:'#078d07'}" type="submit" icon="pi pi-check" pButton pRipple label="Save"
          class="p-button-rounded p-button-success"></button>
  <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
          class="p-button-rounded p-button-danger" routerLink="/users"></button>
</form>
<app-footer></app-footer>
