input{
  border-radius: 30px;
  padding-bottom: 15px;
  width: 100%;
  padding-left: 15px;
  font-size: 20px;
}
label{
  padding-left: 10px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  color: #078d07;
}
div{
  margin-bottom: 25px;
}
form{
  margin-top: 15px;
  position: relative;
}
p-toggleButton{
  padding-left: 15px;
}
