<app-header></app-header>
<form #editUserForm="ngForm" novalidate *ngIf="user">
  <h1>Add user</h1>
  <div>
    <div class="p-float-label">
      <input #name="ngModel" id="name" type="text" pInputText [(ngModel)]="user.name" name="name" required>
      <label for="name">
        Name
      </label>
    </div>
    <div class="input-invalid" *ngIf="name.invalid && (name.dirty || name.touched)">
      <small *ngIf="name.errors?.['required']" class="p-error block error-text">Name is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #login="ngModel" id="login" type="text" pInputText [(ngModel)]="user.login" name="login" required
             minlength="6">
      <label for="login">Login</label>
    </div>
    <div class="input-invalid" *ngIf="login.invalid && (login.dirty || login.touched)">
      <small *ngIf="login.errors?.required" class="p-error error-text ">Login is required</small>
      <small *ngIf="login.errors?.minlength" class="p-error error-text"> Name must be at least 6 characters
        long.</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #password="ngModel" id="password" pInputText pPassword [(ngModel)]="user.password"
             name="password" [type]="showPassword ? 'text' : 'password'" required>
      <label for="password">Password</label>
      <i class="pi pi-eye-slash icon"
         (click)="showPassword = !showPassword"
         [class.hide]="showPassword">
      </i>
      <i class="pi pi-eye icon"
         (click)="showPassword = !showPassword"
         [class.hide]="!showPassword">
      </i>
    </div>
    <div class="input-invalid" *ngIf="password.invalid && (password.dirty || password.touched)">
      <small *ngIf="password.errors?.required" class="p-error error-text ">Password is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <input #email="ngModel" id="email" type="text" pInputText [(ngModel)]="user.email" name="email" required>
      <label for="email">Email</label>
    </div>
    <div class="input-invalid" *ngIf="email.invalid && (email.dirty || email.touched)">
      <small *ngIf="email.errors?.required" class="p-error error-text">Email is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <p-inputNumber #salary="ngModel" inputStyleClass="style" id="salary" mode="currency" currency="USD" locale="en-US"
                     [(ngModel)]="user.salary" name="salary" [required]="true"></p-inputNumber>
      <label for="salary">Salary</label>
    </div>
    <div class="input-invalid" *ngIf="salary.invalid && (salary.dirty || salary.touched)">
      <small *ngIf="salary.errors?.required" class="p-error error-text">Salary is required</small>
    </div>
  </div>
  <div>
    <div class="p-float-label">
      <p-calendar #date="ngModel" [minDate]="minDate" [maxDate]="maxDate" inputStyleClass="style"
                  [style]="{'width':'100%'}"
                  id="dob" dateFormat="mm-dd-yy" inputId="dateformat" [(ngModel)]="user.date" name="date"
                  [required]="true"></p-calendar>
      <label for="dob">Date of birth</label>
    </div>
    <div class="input-invalid" *ngIf="date.invalid && (date.dirty || date.touched)">
      <small *ngIf="date.errors?.required" class="p-error error-text ">Date is required</small>
    </div>
  </div>
  <div>
    <div *ngFor="let role of allRoles" class="p-field-checkbox">
      <p-checkbox [required]="true"
                  value="role"
                  name="userRoles"
                  [value]="role"
                  [inputId]="role.name"
                  [(ngModel)]="user.roles"></p-checkbox>
      <label [for]="role.name">{{role.name}}</label>
    </div>
  </div>
  <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple type="button" label="Save"
          class="p-button-rounded p-button-success" (click)="addUser()"></button>
</form>
<app-footer></app-footer>
