input{
  border-radius: 30px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 100%;
  font-size: 18px;
}
label{
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #078d07;
}
div{
  margin-bottom: 25px;
}
.hide {
  display: none;
}
