<app-header></app-header>
<h2>{{'title.usersList'|translate}}
  <button [ngStyle]="{backgroundColor:'var(--green-600)'}" pButton pRipple type="button" icon="pi pi-user-plus"
          class="p-button-rounded p-button-success button-align" routerLink="/user-add"></button>
</h2>
<div>
  <note></note>
</div>
<p-table [value]="users" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">{{'usersTable.id'|translate}}</th>
      <th pSortableColumn="name">{{'usersTable.name'|translate}}</th>
      <th pSortableColumn="login">{{'usersTable.login'|translate}}</th>
      <th>{{'usersTable.email'|translate}}</th>
      <th>{{'usersTable.date'|translate}}</th>
      <th>{{'usersTable.salary'|translate}}</th>
      <th>{{'usersTable.roles'|translate}}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.id}}</td>
      <td><a href="/user-edit?userToEdit={{user.id}}">{{user.name}}</a></td>
      <td>{{user.login}}</td>
      <td>{{user.email}}</td>
      <td>{{user.dateOfBirth|date:'dd-MM-yyyy'}}</td>
      <td>{{user.salary}}</td>
      <td><div *ngFor="let role of user.roles">{{role.name}}</div></td>
      <td><a href="/user-delete?userToDelete={{user.id}}">
        <button pButton pRipple type="button" icon="pi pi-user-minus" class="p-button-rounded p-button-danger"></button>
      </a></td>
    </tr>
  </ng-template>
</p-table>
<app-footer></app-footer>
