p-table{
  th{
    text-align: center;
    background-color: #078d07;
    color: #fffdfd;
  }
  td{
    text-align: center;
  }
}
.button-align{
  margin-bottom: 5px;
}
div{
  padding: 0px 0px 20px 0px;
}
