<form *ngIf="user">
  <h1>Edit user {{user.login}}</h1>
  <div class="p-float-label">
    <input id="login" type="text" pInputText [(ngModel)]="user.login" name="login">
    <label for="login">Login</label>
  </div>
  <div class="p-float-label">
    <p-password id="pass" inputStyleClass="style" [toggleMask]="true" [(ngModel)]="user.password" name="password"></p-password>
    <label for="pass">Password</label>
  </div>
  <div class="p-float-label">
    <input id="email" type="text" pInputText [(ngModel)]="user.email" name="email">
    <label for="email">Email</label>
  </div>
  <div class="p-float-label">
    <p-inputNumber inputStyleClass="style" id="salary" mode="currency" currency="USD" locale="en-US" [(ngModel)]="user.salary" name="salary"></p-inputNumber>
    <label for="salary">Salary</label>
  </div>
  <div class="p-float-label">
    <p-calendar [minDate]="minDate" [maxDate]="maxDate" inputStyleClass="style" [style]="{'width':'100%'}"
                [inputStyle]="{'width':'100%'}" id="dob" dateFormat="mm-dd-yy" inputId="dateformat" [(ngModel)]="user.date" name="date"></p-calendar>
    <label for="dob">Date of birth</label>
  </div>
  <div>
    <p>
      <p-checkbox id="admin" name="roles" value="ROLE_ADMIN" [(ngModel)]="user.roles"></p-checkbox>
      <label for="admin">ROLE_ADMIN</label>
    </p>
    <p>
      <p-checkbox id="user" name="roles" value="ROLE_USER" [(ngModel)]="user.roles"></p-checkbox>
      <label for="user">ROLE_USER</label>
    </p>
    <p>
      <p-checkbox id="developer" name="roles" value="ROLE_DEVELOPER" [(ngModel)]="user.roles"></p-checkbox>
      <label for="developer">ROLE_DEVELOPER</label>
    </p>
    <p>
      <p-checkbox id='manager' name="roles" value="ROLE_MANAGER" [(ngModel)]="user.roles"></p-checkbox>
      <label for="manager">ROLE_MANAGER</label>
    </p>
    <p>
      <p-checkbox id="trainee" name="roles" value="ROLE_TRAINEE" [(ngModel)]="user.roles"></p-checkbox>
      <label for="trainee">ROLE_TRAINEE</label>
    </p>
  </div>
  <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple type="button" label="Save"
          class="p-button-lg p-button-rounded p-button-success" (click)="updateUser()"></button>
</form>
