<app-header></app-header>
<form *ngIf="user">
  <h1>{{'title.userDelete'|translate}} {{user.login}}?</h1>
  <p>
    <button [ngStyle]="{backgroundColor:'#078d07'}" pButton pRipple type="button" icon="pi pi-check" label="{{'button.delete'|translate}}"
            class="p-button-lg p-button-rounded p-button-success" (click)="deleteUser()"></button>
    <button pButton pRipple type="button" icon="pi pi-times" label="{{'button.cancel'|translate}}"
            class="p-button-lg p-button-rounded p-button-danger" routerLink="/users"></button>
  </p>
</form>
<app-footer></app-footer>
